/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content span {
  /* position: absolute; */
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondaryColor);
  margin: 0 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.content span:not(:last-child) {
  animation: animate 1s linear infinite;
}

.content span:last-child {
  animation: jump 1s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(10px, -10px);
  }

  20% {
    transform: translate(20px, 10px);
  }

  30% {
    transform: translate(30px, -50px);
  }

  70% {
    transform: translate(-150px, -50px);
  }

  80% {
    transform: translate(-140px, 10px);
  }

  90% {
    transform: translate(-130px, -10px);
  }

  100% {
    transform: translate(-120px, 0);
  }
}